
.card{
    display: inline-block;
    width: 284px;
    height: 311px;
    margin: 10px 10px;
    padding: 10px;
    background-color: #C4C4C4;
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 1px;
}

.cardStatus{
    display: inline-block;
    height: 24px;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 6px;
    color: white;
    text-align: left;
    border-radius: 25px;
    
}


.cardHeader{
    margin-top: 130px;
    margin-left: 13px;
    margin-bottom: 0px;
    padding-top: 45px;
    color: white;
}

.cardDesc{
    padding: 0px 15px;
    color: white;
    margin-bottom: 0px;
    display: inline-block;
}

.cardFooter{
    width: 80px;
    height: 20px;
    color: white;
    margin-left: 15px;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
    font-size: 0.85rem;
}

.cardFooter:hover{
    text-decoration: underline;
}

